<section>
    <p class="card-panel custom-card" id="motto">
        Speak Dreams into Reality: Begin Your Language Journey with linguini!
    </p>
</section>
<section>
    <div class="swiper">
        <div class="swiper-wrapper tutor-cards">
            {{#each tutors}}
            <div class="swiper-slide">
                <div class="tutor-card">
                    <img src="{{user.image_avatar}}" class="tutor-avatar" />
                    <h1>
                        {{user.first_name}} {{user.last_name}}
                    </h1>
                    <p>
                        Proficient in: {{language.name}}
                    </p>
                    <p>
                        Rating: {{rating}} out of 5 stars
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>