<section>
    <p class="motto">
        Speak Dreams into Reality.<br>
        Begin Your Language Journey with linguini!
    </p>
</section>
<section class="hero">
    {{!-- <img src="/images/hero.png"> --}}
</section>
<section class="swiper-container">
    <div class="swiper">
        <div class="swiper-wrapper">
            {{#each tutors}}
            <div class="swiper-slide">
                <div class="swiper-card">
                    <img src="{{user.image_avatar}}" class="swiper-avatar" />
                    <h1 class="swiper-heading">
                        {{user.first_name}} {{user.last_name}}
                    </h1>
                    <p>
                        Proficient in: {{language.name}}
                    </p>
                    <p>
                        Rating: {{rating}} of 5 stars
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
        {{!-- <div class="swiper-pagination"></div> --}}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>