<!-- Form to schedule a tutoring session -->
<div class="scheduledSessionWrapper">
<form id="scheduled-session-form" class="scheduled-session-form">
  <h1>Schedule a Tutoring Session</h1>
  <div class="form-group">
    <label for="student-id" class="session-field-label">Student Name</label>
    {{!-- <input type="text" class="form-control" id="student-id" name="student-id" /> --}}
    {{!-- <p class="help-block">The student ID of the student who will be attending the session.</p> --}}
    <select id="student-id" name="student-id">
      {{#each studentsPlain}}
        <option value="{{id}}">{{user.first_name}} {{user.last_name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="tutor-id" class="session-field-label">Tutor Name</label>
    <select id="tutor-id" name="tutor-id">
      {{#each tutorsPlain}}
        <option value="{{id}}">{{user.first_name}} {{user.last_name}}</option>
      {{/each}}
    </select>
    {{!-- <p class="help-block">The tutor ID of the tutor who will be conducting the session.</p> --}}
  </div>

  <div class="form-group">
    <p>Session Time</p>
    <label for="session-time" class="session-field-label">Begin</label>
    <input type="datetime-local" class="form-control" id="session-begin" name="session-begin" />
    <label for="session-time" class="session-field-label">End</label>
    <input type="datetime-local" class="form-control" id="session-end" name="session-end" />
    {{!-- <p class="help-block">The time and date of the tutoring session.</p> --}}
  </div>

  <div class="form-group">
    <label for="meeting-link" class="session-field-label">Preferred Location</label>
    <input type="text" class="form-control" id="meeting-link" name="meeting-link" />
    {{!-- <p class="help-block">The topic of the tutoring session.</p> --}}
  </div>
  <button type="submit" class="btn btn-primary">Schedule Session</button>
</form>

<form class="session-display" id="session-display">
  <div>
  {{#each scheduledSessions}}
  <h2 class='student-id'> Sent by: {{student.user.first_name}} {{student.user.last_name}} </h2>
  <h2 class='tutor-id'> To: {{tutor.user.first_name}} {{tutor.user.last_name}} </h2>
  <h2 class='session-begin'> Session Begin: {{session_begin}} </h>
  <h2 class='session-end'> Session End: {{session_end}} </h>
  <h2 class='meeting-link'> Meeting Link: {{meeting_link}} </h2>
  <button type="delete" value="{{id}}" class="delete-btn">Cancel Session</button>
  {{/each}}
  </div>
</form>

</div>

{{!-- <script src="path/to/dayjs/dayjs.min.js"></script>
<script>
  dayjs().format()
</script> --}}
<script src="/js/scheduledSession.js"></script>

