<h2>Student Profile Page</h2>

<section class="student-profile" id="deets-cards">
     <div class="student-card">
        <img src="{{student.user.image_avatar}}">
        <h5 class="studentName"> {{student.user.first_name}} {{student.user.last_name}}</h5>
        <h5 class="studentEmail"> {{student.user.email}}</h5>
         <h5 class="student-language"> {{student.language_id}}</h5>
        <h5 class="student-language-level"> {{student.language_level_id}}</h5>
    </div>
</section>


