<h2 id="studentHdr">Student Profile Page</h2>

<div class="studentProfileWrapper">
  <section class="student-profile" id="deets-cards">
    <div class="student-card">
      <img src="{{student.user.image_avatar}}" id="defaultimg" />
      <h5 class="studentName">
        {{student.user.first_name}}
        {{student.user.last_name}}</h5>
      <h5 class="studentEmail"> {{student.user.email}}</h5>
      <h5 class="student-language"> {{language.name}}</h5>
      <h5 class="student-language-level"> {{student.language_level_id}}</h5>
    </div>
  </section>
  {{! <div class="student-card">
    <select name="rating" id="rating">
      <i class="fa-solid fa-star">1 star</i>
      <i class="fa-solid fa-star">2 stars</i>
      <i class="fa-solid fa-star">3 stars</i>
      <i class="fa-solid fa-star">4 stars</i>
      <i class="fa-solid fa-star">5 stars</i>
    </select>
  </div> }}
</div>

<script src="/js/studentProfile.js"></script>