<h2>Tutor Listing</h2>

{{#each tutors}}
<h2 class="tutorName">{{user.first_name}} {{user.last_name}}</h2>
<h4 class="tutorEmail">{{user.email}}</h4>
<h4 class="tutorLanguage">{{tutor.language_id}}</h4>
<h4 class="tutorRating">{{tutor.rating}}</h4>
{{/each}}