<h2>Tutor Profile Page</h2>

<section class="user-profile" id="deets-cards">
     <div class="user-card">
        <img src="{{tutor.user.image_avatar}}">
        <h5 class="user-name"> {{tutor.user.first_name}} {{tutor.user.last_name}}</h5>
        <h5 class="user-email"> {{tutor.user.email}}</h5>
        <h5 class="user-language"> {{user.language.name}}</h5>
        <h5 class="tutor-rating"> {{tutor.rating}}</h5>
    </div>
    <div class="user-card">
        <h2 class="session-calendar"> Session Calendar </h2>
        <h5 class="session-student_id"> {{scheduledSession.student_id}}</h5>
         <h5 class="session-tudor_id"> {{scheduledSession.tutor_id}}</h5>
         <h5 class="preferred-location"> {{meeting_link}}</h5>
    </div>
</section>


{{!--This code below needs to be rendered in the above div}}

{{!-- <div class="session-display" id="session-display"></div>
{{#each scheduledSessions}}
<h2 class='student-id'> Sent by: {{student.user.first_name}} {{student.user.last_name}} </h2>
<h2 class='tutor-id'> To: {{tutor.user.first_name}} {{tutor.user.last_name}} </h2>
{{!-- <h2 class='session'>sent by user {{student_id}} to user {{tutor_id}} on {{sent}}</h2> --}}
{{!-- <h2 class='meeting-link'> Meeting Link: {{meeting_link}} </h2>
<button type="delete" value="{{id}}" class="delete-btn">Cancel Session</button>
{{/each}}
</div> --}}



{{!-- link stylesheets in the main.handlebars file --}}
{{!-- link script sheets at the bottom of the individual files --}}